.teamCreator-setting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.teamCreator-setting {
    box-sizing: border-box;
    width: 60%;
    background: linear-gradient(180deg, rgba(121, 110, 249, 0.3) 0%, rgba(64, 174, 255, 0.3) 100%);
    border: 2px solid #050505;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.setting-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    margin: 0 5rem;
}

.setting-name {
    align-items: center;
}

.setting-name-text {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.textField-big {
    display: flex;
    flex-direction: column;

}

.textField-helper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.textField-names {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-top: 1rem;
}

.teams-container {
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(121, 110, 249, 0.3) 0%, rgba(64, 174, 255, 0.3) 100%);
    border: 2px solid #050505;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.teams-helper-container {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}


.team-container {
    padding: 2rem;
    background-color: #FFFFFF;
    opacity: 70%;
    border-radius: 20px;
    border: #050505 1px solid;
}

.player-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .teamCreator-setting {
        width: 80%;
    }

    .setting-name-text {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 300;
        margin: 0;
    }
    
    .setting-container {
        margin: 0 1rem;
    }

    .teams-container {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .teamCreator-setting {
        padding: 0.5rem;
    }
}